.todoPage {
  flex-grow: 1;

  &__header {
    font-weight: 500;
    color: #2cbe2c;
  }

  &__todos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .todoPage {
    &__todos {
      min-width: 90%;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .todoPage {
    &__todos {
      min-width: 560px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .todoPage {
    &__todos {
      min-width: 90%;
    }
  }
}