.todo {
  position: relative;
  display: flex;
  gap: 1em;
  margin-bottom: 15px;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

  &:hover {
    background-color: #FAFAFAFF;
  }

  &__checkbox {

  }

  &__text {
    max-width: calc(100% - 15px - 15px - 13px);
    flex-grow: 1;
    margin: 0;
    font-weight: normal;
    word-wrap: break-word;
  }

  &__buttons {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    background-color: #FAFAFAFF;

    li {
      display: flex;
      align-items: center;
      height: 25px;
    }

    &__button {
      all: unset;
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
      }

      &:active {
        background-color: #6eb5c0;
      }
    }
  }

  &:hover &__buttons {
    position: absolute;
    right: 1em;
    display: flex;
    gap: 5px;
  }
}

.fulfilled {
  text-decoration: line-through;
}