.addTodoButton {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  gap: 10px;

  width: 100px;
  height: 40px;

  font-size: 18px;
  color: #fff;
  background-color: #4ca0ad;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #3e8995;
  }
}