.deleteTodoForm {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
}