.header {
  height: 6rem;
  background-color: #4ca0ad;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

  &__logo {
    display: flex;
    align-items: center;
    padding: 1em;
    width: fit-content;
    height: 100%;
    font-size: 30px;
    color: #fff;
    user-select: none;
  }
}